.text-part{
    padding: 30px;
}
.s{
    width: 200px;
    height: 1px;
    background: #000;
    display: inline-block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.text-part h1{
    font-family: "Playfair Display SC",serif;
    letter-spacing: .02em;
    font-weight: 400;
}
.title{
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 700;
}
.car{
    padding-left: 20px;
}
.car-img:hover{
    /* transform: scale(1.1); */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width:640px){
    .ss{
        display: none;
    }
}